<section>
    <h2>Inställningar</h2>
    <br />

    <div style="background-color: rgba(0, 0, 0, 0.7); padding: 20px; ">
        <div>
            Stäng av konto
        </div>
        <div>
            Ålder (<span id="agerangetext"></span>)
        </div>
        <div>
            <div id="slider-agerange" style="max-width: 80%"></div>
        </div>
        <div>
            Avstånds (<span id="distancerangetext"></span>)
        </div>
        <div>
            <div id="slider-distancerange" style="max-width: 80%"></div>
        </div>
        <div>

            <br /><br />
            <a class="btn btn-default transparent-button" data-ajax="false" href="#logout" style="float: right;">Logga ut <i class="fa fa-remove"></i></a>
            <br /><br />
        </div>
    </div>
</section>