<div>
    <nav role="navigation">

        <div data-bind="if: validToken">
            <span>
                <a class="btn btn-default transparent-button" data-ajax="false" href="#searching">Sök <i class="fa fa-search"></i></a>
                <a class="btn btn-default transparent-button" data-ajax="false" href="#mypage">Min Sida <i class="fa fa-edit"></i></a>
                <a class="btn btn-default transparent-button" data-ajax="false" href="#conversations">kontakter <i class="fa fa-users"></i></a>
                <a class="btn btn-default transparent-button" data-ajax="false" href="#settings" style="float: right;">Inställningar <i class="fa fa-cogs"></i></a>
            </span>
        </div>

        <div data-bind="ifnot: validToken">
            <span>
                <!--Inte inloggad-->
                Sparkle
            </span>
        </div>
    </nav>

    <div class="page-host" data-bind="router: { transition:'entrance' }" data-role="content" data-theme="a"></div>
</div>