@using JAM.Brilliance.App_GlobalResources

<div id="footer-box" class="no-print">
    <table width="100%" class="container">
        <tr>
            <td style="vertical-align: top;">
                <div class="col1">
                </div>
                <div class="col2">
                    @Html.Raw(Global.Constants_Tax)
                </div>
                <div class="col3">
                    <p>
                        <a href="https://www.facebook.com/pages/J-A-Matchmaking/369921683031922">
                            <img src="/Content/images/icons/Facebook_32.png" />
                        </a>
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">
                &nbsp;&nbsp;<a href='http://www.michiko.se'>Michiko</a>
                &nbsp;|&nbsp;<a href='http://www.charlotte-trend.se'>Charlotte Trend</a>
                &nbsp;|&nbsp;<a href='http://www.cacaofoni.se'>Cacaofoni</a>
                &nbsp;|&nbsp;<a href='http://www.sjalenskraft.com'>Själens kraft</a>
                &nbsp;|&nbsp;<a href='http://www.perljung.se'>Per Ljung</a>&nbsp;&nbsp;
            </td>
        </tr>
    </table>
</div>
<table width="100%" id="footer" class="no-print">
    <tr>
        <td style="vertical-align: top;">
            @Html.Raw(Global.Constants_Copyright)
        </td>
    </tr>
</table>