@using JAM.Brilliance.App_GlobalResources
@using JAM.Core.Logic

<table width="100%" id="header" class="no-print">
    <tr>
        <td>
            <table width="100%" class="container">
                <tr>
                    <td>
                        <div id="title">
                            <div class="caption">
                                @Constants.Title
                            </div>
                            <div class="subcaption">
                                
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>