<div>
    <h2>
        Aktivering krävs
    </h2>
    <p>
        <br />
        Kolla din e-post!
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </p>
</div>