@using System.Security
@model SecureString
<div>
    <p>Ditt lösenord är @Model</p>
    <br />
    @Html.ActionLink("Logga in", "LogOn", "Account")<br />
    <br /><br /><br /><br /><br /><br /><br /><br />
</div>