@charset "utf-8";

body {
    margin: 0px;
    padding: 0px;
    background: url(/content/images/bg_01.jpg) repeat left top;
    font-size: 13px;
    line-height: 24px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #836D65;
}

h1, h2 {
    margin: 0px;
    font-family: "Times New Roman", Times, serif;
    color: #3B2A27;
}

fieldset {
    border: 1px solid #aaaaaa;
    padding: 0 8px 7px 8px;
    margin: 0 0 3px 0;
}

table td {
    padding: 0; /* 'cellpadding' equivalent */
}

legend {
    font-weight: bold;
    color: #3B2A27;
}

h1 {
    letter-spacing: -2px;
    line-height: 36px;
    font-size: 36px;
    font-weight: normal;
    text-shadow: #FFFFFF 0px 2px 0px;
}

h2 {
    letter-spacing: -1px;
    line-height: 20px;
    font-size: 20px;
    font-weight: normal;
    text-shadow: #FFFFFF 0px 2px 0px;
}

h3 {
    letter-spacing: 0px;
    line-height: 17px;
    font-size: 15px;
    font-weight: normal;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #836D65;
}

a {
    color: #AD3032;
}

    a:hover {
        text-decoration: none;
    }

/** WRAPPER */

#wrapper {
    background: url(/content/images/bg_02.jpg) repeat left top;
}

#wrapper-bgtop {
    background: url(/content/images/bg_03.jpg) repeat-x left top;
}

#wrapper-bgbtm {
    height: auto !important;
    /*height: 1389px;
    min-height: 1389px;*/
    background: url(/content/images/bg_04.jpg) repeat-x left bottom;
}

.container {
    margin: 0px auto;
}

/** MAIN NAV */

#main-nav {
    background: url(/content/images/bg_05.jpg) no-repeat center top;
    border-collapse: collapse;
}

    #main-nav .container {
        height: 0px;
    }

/** MAIN NAV > MENU */

#menu {
    float: left;
    height: 0px;
    padding: 0px 0px 0px 7px;
}

    #menu ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        line-height: normal;
    }

    #menu li {
        float: left;
        /*height: 27px;*/
        padding: 0px;
        /*background: url(/content/images/homepage_01.jpg) no-repeat left top;*/
    }

        #menu li:first-child {
            background: none;
        }

    #menu a, #menu span {
        display: inline-block;
        line-height: 25px;
    }

    #menu a {
        padding: 0px 1px 0px 0px;
        text-decoration: none;
        font-size: 17px;
        /*line-height: 17px;*/
        font-family: "Times New Roman", Times, serif;
        color: #B3B0B0;
    }

        #menu a:hover {
            color: #FFFFFF;
        }

    #menu li.active a {
        background-position: right top;
        color: #FFFFFF;
    }

/** HEADER */

#header {
    background: url(/content/images/bg_06.jpg) no-repeat center top;
    padding: 0;
    border-collapse: collapse;
}

    #header .container {
        height: 141px;
        padding: 0;
        border-collapse: collapse;
    }

/** PAGE */

#page {
    background: url(/content/images/bg_07.jpg) repeat-y center top;
}

#page-bgtop {
    background: url(/content/images/bg_08.jpg) no-repeat center top;
}

#page-bgbtm {
    height: auto !important;
    /*height: 750px;
    min-height: 750px;*/
    padding-bottom: 20px;
    background: url(/content/images/bg_09.jpg) no-repeat center bottom;
}

#page .container {
    padding: 0px 0px 15px 0px;
}

/** 3-COLUMN LAYOUT */

.three-col-content {
    padding: 10px 20px;
    overflow: hidden;
}

#title {
    vertical-align: middle;
}

    #title .caption {
        color: #FFFFFF;
        font-size: 55px;
        line-height: 55px;
        font-family: "Times New Roman", Times, serif;
        text-shadow: #000000 0px 5px 5px;
        text-align: center;
        padding: 10px;
    }

    #title .subcaption {
        color: #FFFFFF;
        font-size: 30px;
        line-height: 30px;
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
        text-align: center;
    }

/** BANNER */

#banner {
    display: none;
    visibility: hidden;
}

/*    #banner .border {
    }*/

/** CONTENT */

#content {
    float: left;
    padding: 23px 0px 0px 20px;
}

/** FOOTER BOX */

#footer-box {
    display: none;
    visibility: hidden;
}


/** FOOTER */

#footer {
    display: none;
    visibility: hidden;
}

/** BOX STYLE 4 */

.box-style4 {
    /*background: url(/content/images/subpage2_01.jpg) repeat-y left top;*/
}

.box-style4-bgtop {
    /*background: url(/content/images/subpage2_02.jpg) no-repeat left top;*/
}

.box-style4-bgbtm {
   /* padding: 20px;
    background: url(/content/images/subpage2_03.jpg) no-repeat left bottom;*/
}

.field-validation-error {
    color: #FF0505;
}
