@using JAM.Brilliance.Models.ViewModels;
@model ShowPictureViewModel

@{ Html.RenderAction("ToolbarUser", "Home"); }

<div>
    <br/>
    <img style="max-width: 500px;" src="@Url.Action("MyPictureData", new { pictureId = Model.PictureId })" />
</div>