@using JAM.App_GlobalResources
@using JAM.Logic

<table width="100%" id="header">
    <tr>
        <td>
            <table width="100%" class="container">
                <tr>
                    <td>
                        <div id="title" style="text-align: center;">
                            <div style="display: inline-block; ">
                                <img src="/Content/images/ja/logo_red_white.png" width="95" title="J&amp;A" alt="J&amp;A" />
                            </div>
                            <div style="display: inline-block; ">
                                <div class="caption">
                                    @Constants.Title
                                </div>
                                <div class="subcaption">
                                    @Html.Raw(Global.Constants_Headline)
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
