@using JAM.Brilliance.App_GlobalResources

<h1>
    @Global.Sharpen_Title
</h1>
<p>
    <br />
    <img src="/content/images/ja/dating3.jpg" width="250" style="float: right; padding: 10px" />
    @Global.Sharpen_P1
</p>
<p>
    @Html.Raw(Global.Sharpen_P2)
</p>
<p>
    @Html.Raw(Global.Sharpen_P3)
</p>