@using JAM.Brilliance.App_GlobalResources
@using JAM.Core.Logic

<div>
    <img src="/content/images/app/appstores.png" alt="" width="250" style="float: right; padding: 10px" />
    <h1>
        @Global.Start_Title
    </h1>
    <br />




    <div>


    <p>Apple app</p>
    <p>Google App</p>
    <p>Windows Mobile App</p>

    </div>
</div>