@using JAM.Brilliance.App_GlobalResources
@using JAM.Core.Logic

<div>
    <img src="/content/images/ja/dating4.jpg" alt="" width="260" style="float: right; padding: 10px" />
    <h1>
        @Global.Start_Title
    </h1>
    <br />
    <p>
        @Global.Start_P2
        <br />
    </p>
   
    <p>
        <br />
        @Global.Start_P3
        @Html.ActionLink(Global.Start_P4, "Matchmaking", "Home").
    </p>


    <br />
    <br />


    <p>Happy dejting!!!</p>

    <p>Brilliance Dejting</p>

    </div>
</div>